<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.js">
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>

<div id="app">
  <h1>Titulo</h1>
    <li v-for="item in facturas.items">
      {{ item.descripcion }}
      <p>item</p>
    </li>
  <p>Item: <input v-model="item.descripcion"></p>
  <button @click="agregarItem">Agregar item</button>
</div>

<script src="index.js"></script>
</body>
</html>